<!DOCTYPE html>
<html lang="en" ng-app="salsaNg">
<head>
  <meta charset="utf-8">
  <title>salsa-ng-loading-mask example</title>

  <script src="../bower_components/jquery/dist/jquery.js"></script>
  <script src="../bower_components/angular/angular.js"></script>
  <script src="../bower_components/angular-mocks/angular-mocks.js"></script>
  <script src="../bower_components/query-string/query-string.js"></script>

  <link rel="stylesheet" type="text/css" href="../src/loadingMask.css" />
  <script src="../src/loadingMask.js"></script>

  <script type="text/javascript">
    angular.module('salsaNg', ['salsaNgLoadingMask', 'ngMockE2E'])
            .controller('ExampleController', function ($scope, $http, $httpBackend) {
              $httpBackend.whenGET(/\/dummy/).respond(200);
              $httpBackend.whenGET(/\/error/).respond(500);

              // sends two requests for fullscreen masking
              $scope.fullScreenMask = function () {
                $http.get('/dummy?time=1', {
                  loadingMask: 'fullscreen'
                });
                $http.get('/dummy?time=2', {
                  loadingMask: 'fullscreen'
                });
              };

              // sends request raising error
              $scope.globalMask = function() {
                $http.get('/error?time=1', {
                  loadingMask: true
                });
              };

              // sends two request for mask group custom
              $scope.customMask = function() {
                $http.get('/dummy?time=2', {
                  loadingMask: 'custom'
                });
                $http.get('/dummy?time=1', {
                  loadingMask: 'custom'
                });
              };
            })
            .config(function($provide, SalsaLoadingMaskConfigProvider) {
              // It is also possible to add a template for mask (e.g. including custom spinner)
              SalsaLoadingMaskConfigProvider.set({
                template: '<span ng-if="!context.loadingText">This is our predefined template</span> <span ng-if="context.loadingText">{{context.loadingText}}</span>'
              });

              // HTTP requests are just decorated to be capable of delayed response,
              // time parameter is used as the response time.
              // You will not need this on production!
              $provide.decorator('$httpBackend', function($delegate) {
                var decoratedHttpBackend = function(method, url) {
                  var originalArguments = arguments;

                  var query = queryString.parse(url.split('?')[1]);
                  setTimeout(function() {
                    $delegate.apply($delegate, originalArguments);
                  }, query.time * 1000);
                };
                angular.extend(decoratedHttpBackend, $delegate);

                return decoratedHttpBackend;
              });
            });
  </script>
  <style>
    .component {
      width: 300px;
      height: 100px;
      border: 1px solid #000;
      margin-bottom: 20px;
    }
  </style>
</head>

<body ng-controller="ExampleController">
  <button ng-click="fullScreenMask()">Make a full screen mask request</button>
  <button ng-click="globalMask()">Make global group masking for component1</button>
  <button ng-click="customMask()">Make custom group masking for component 2 and 3</button>

  <div salsa-loading-mask salsa-loading-mask-fullscreen salsa-loading-mask-group="fullscreen"
       salsa-loading-mask-template-data="{loadingText: 'We may also specify custom template for fullscreen mask'}"></div>

  <div class="component" salsa-loading-mask
       salsa-loading-mask-template-data="{loadingText: 'We have a custom loading text here'}">This is component 1
  </div>

  <div class="component" salsa-loading-mask salsa-loading-mask-group="custom">This is component 2</div>

  <div class="component" salsa-loading-mask salsa-loading-mask-group="custom">This is component 3</div>
</body>
</html>